/* Bruh if we ought to change positioning of a div or anything, make its positioning relative  */
/* Whereas absolute positioning is done by the usage of the parent container */

/* the concept of fixed positioning is very cool tho */

/* em is M in font sizes but use rem as its better, 1 rem = 16px */
.top{
    background-color: #E4F9F5; 
}

body{
    background-color: whitesmoke;
    margin: 0%;
    margin-bottom: 0%;
    padding: 0%;
    border: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

h1{
    /* position: relative;
    text-align: center;*/
    padding-top: 100px;
    margin-top: 0; 
    font-family: "Sacramento", sans-serif;
    font-size: 5rem;
    color: #66BFBF;
    line-height: 2;
}

h2{
    color: #66BFBF;
    font-weight: normal; 
    font-size: 2rem;
}


#sp{
    text-decoration: underline;
}

#m1{
    width: 550px;
    height: 250px;
     mix-blend-mode: multiply;   /*or screen, darken, etc*/ 
}


#programmer{
    font-size: 1.5rem;
}

.btn{
    color: #11999E;
   
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
 

h3{
    color: #11999E;
    font-size: 1.5rem;
}

.skill-row{
   height: 10%;
    width: 30%;
  margin: 0 auto;
    text-align: left;
    line-height: 2.5;
}

.skill-row1{
    height: 10%;
    width: 30%;
  margin: 0 auto;
    text-align: right;
    line-height: 2;
}

.skate {
    width: 70%;
    height: 170px;
    border-radius: 50%;
    display: block;
    margin: auto;

}
  

#desk{
    margin: 80px auto 40px auto;
    /* Clockwise */
    border-radius: 50%;
}

#webdev{
    height: 150px;
    width: 50%;
    border-radius: 50%;
    float: left;
    
}

.mid{
    size: auto;
}

#probsol{
    float: right;
    height: 170px;
    width: 210px;
    margin-left: 30px;
}

#skillpara{
    text-align: left;

}

.bottom{
    background: #66BFBF;
    margin-top: 30px;
    margin-bottom: 0;
    height: auto;
}

.footer-link{
    line-height: 3;
    margin-right: 10px;
    color: #11999E;
    text-decoration: none;
}

a:hover{
    color: whitesmoke;
}

#lastp{
    color: #EAF6F6;
    padding-bottom: 2%;
    margin-bottom: 0;
} 

hr{
        border-style: dotted none none;
        /* See what we did abv? */
        width: 20%;
        border-width: 5px;
        opacity: 0.3;
      }
